{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block title %}Login{% endblock %}
{% load static %}
{%  load crispy_forms_tags %}

{% block body_content %}
    <h1>Take Quiz</h1>

    <h5>{{ quiz.title }}</h5>

    {{ quiz.description | safe }}

    <ul class="list-group">
        {% for question in quiz.questions.all %}
            <br>
            <li class="list-group-item">
                {{ question.question_text }}
            </li>

            <input type="hidden" name="question" value="{{ question.id }}">
            <li class="list-group-item">
                {% for answer in question.answers.all %}
                    <div class="form-check">
                        <label>
                            <input name="answers" type="checkbox" value="{{ answer.id }}"/>
                        </label>
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{ answer.answer_text }}
                        </label>
                    </div>
                {% endfor %}
            </li>
        {% endfor %}
    </ul>

{% endblock %}